<!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="css/manual.css" media="screen" />

    <title>Skating Diagram Creator</title>
    <link rel="canonical" href="https://lurklurk.org/skreate/doc/manual.html" />
    <!-- Copyright 2024-2025 David Drysdale -->
  </head>
</head>
<body>
<h1>Skating Diagram Creator</h1>

<h2>Overview</h2>

<p><a href="index.html">This page</a> allows interactive creation of skating choreography diagrams.

<p>To build a skating diagram, enter <i>move codes</i> into the text entry box, one per line (or separated from the
  previous move by a semi-colon <b><code>;</code></b>).  A move code is typically a three letter code denoting the
  skating edge, optionally followed by an abbreviation for the move being performed. Blank lines are ignored, and
  anything after a hash (<b><code>#</code></b>) on a line is treated as a comment and ignored.

<p>For example, the code {{edit "LFO-Br"}} indicates a bracket turn being performed
  from a left forward outside edge, thus ending on a left backward inside (<code>LBI</code>) edge.

<p>As a shorthand, moves can be made longer or shorter by appending up to 3 plus (<b><code>+</code></b>) or minus
  (<b><code>-</code></b>) signs, for example {{edit "LFO-Rk++"}}.  Moves can also be
  made to turn more or less tightly by appending up to 3 greater-than (<b><code>&gt;</code></b>) or less-than
  (<b><code>&lt;</code></b>) signs, for example {{edit "RBI-Ctr&lt;&lt;"}}.

<p>It's also possible to more precisely control exactly how big or tightly curved a particular move is. A move can be
  followed by a comma-separated list of <i>parameters</i> enclosed in square brackets, e.g.
  {{edit "LFO [len=350,angle=90]"}}.  The allowed parameters for
  each move are described in the <a href="#reference">Move Reference</a> section below.

<p>To sum up, skating move codes are typically made up of:
<ul>
  <li>An optional prefix, indicating how a change of foot is performed.  For example: <ul>
    <li>a <b><code>wd-</code></b> prefix indicates a wide step</li>
    <li>an <b><code>xf-</code></b> prefix indicates a cross in front</li>
    <li>an <b><code>xb-</code></b> prefix indicates a cross behind</li>
   </ul></li>
  <li>An edge code, indicating the skating foot, direction, and edge.  For example, {{edit LBO}} indicates skating on
    the left foot, travelling backwards on an outside edge.</li>
  <li>An optional suffix indicating a move, turn or foot change.  For example, {{edit LFO3}} indicates a three-turn from
    a left forward outside edge, transitioning to a left backward inside edge.</li>
  <li>Further optional suffices that adjust parameters for the move.  These can take two forms:<ul>
    <li>A collection of comma-separated <code>name=value</code> parameters enclosed in square brackets.  For example,
      {{edit "LFO [angle=120,len=900]"}} indicates a left
      forward outside edge that turns 120&deg; and travels 900 cm.</li>
    <li>Short code markers that adjust the most common parameters.  For example, {{edit "LFO&gt;&gt;++"}} indicates a
      left forward edge that curves more and travels further than the default.</li>
  </ul></li>
</ul>

<p>So a code like <b><code>xf-RFO3></code></b> describes:
<ul>
  <li>Crossing the right foot in front of the (skating) left foot, onto a forward outside edge.</li>
  <li>Performing a 3-turn from that right forward outside edge (thus ending on a right backward inside edge).</li>
  <li>With a slightly tighter turn than normal.</li>
</ul>

<h2>Diagram Commands</h2>

<p>A skating diagram can also include commands that relate to the layout of the diagram, rather than to a particular
  skating move.  For example, including <code>Rink</code> incorporates an ice rink layout on the diagram,
  and <code>Title</code> adds a title for the diagram.

<p>The <a href="#ref-Info"><code>Info</code></a> is worth specifically mentioning; this allows various layout helpers
to be enabled, including a grid, and markers for the position and direction of the skater at the start and end of each
move (e.g <b><code>Info [grid=100,markers=true]</code></b>).

<p>The position and direction of the skater at each point is particularly relevant for
  the <a href="#ref-Shift"><code>Shift</code></a> command, because it moves and rotates the skater relative to their
  current position/direction.  (In contrast, the <a href="#ref-Warp"><code>Warp</code></a> command moves the skater to
  an absolute position and direction on the diagram.)

<h2>Counts and Timing</h2>

<p>Dance choreographies often need to display a running count of moves, or an indication of how many beats of music a
step should take.  This is done by prefixing the move code with:
<ul>
  <li>A <i>move number</i> followed by a bracket <b><code>)</code></b>.
  <li>A <i>beat count</i> after a slash <b><code>/</code></b>.
</ul>

<p>For example, an input of {{edit "3) /2 RFI"}} indicates that a right forward inside edge as the third step, which
should hold for 2 beats.

<p>The <a href="#ref-Info"><code>Info</code></a> command includes an <b><code>auto-count</code></b> parameter that turns
  on automatic numbering of skating moves.

<a id="reference"/><h2>Move Reference</h2>

<table>
  <thead>
    <tr>
      <th>Example</th>
      <th>Move</th>
      <th></th>
      <th>Parameters</th>
    </tr>
  </thead>
  <tbody>
    {{#each infos}}
    <a id="ref-{{this.name}}"/><tr>
      <td class="center">
        <b><code>{{this.example}}</code></b>
      </td>
      <td>{{this.summary}}</td>
      <td class="center">
        {{#if this.visible}}
        <div class="example"><a href="./preview.html?text={{this.example}}"><img src="doc/{{this.example}}.svg" height="150"/></a></div>
        {{/if}}
      </td>
      <td>
        <ul>
          {{#each this.params}}
          <li><code>{{this.name}}</code>: {{this.doc}}
          {{#if this.default.isNumber}}
          (default <code>{{this.default.Number}}</code>).
          {{/if}}
          {{#if this.default.isText}}
          (default <code>"{{this.default.Text}}"</code>).
          {{/if}}
          {{#if this.default.isBoolean}}
          (default <code>{{this.default.Boolean}}</code>).
          {{/if}}
          {{#if this.short}}
          {{#if this.short.PlusMinus}}
          Can also be modified by a <code>+</code> or <code>-</code> (repeated) suffix.
          {{/if}}
          {{#if this.short.GreaterLess}}
          Can also be modified by a <code>&lt;</code> or <code>&gt;</code> (repeated) suffix.
          {{/if}}
          {{/if}}
          </li>
          {{/each}}
        </ul>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

</body>
</html>
